.sidebar {
  width: 305px;
  padding: 20px;
  border-right: 1px solid #dee2e6;
  padding-top: 90px;
  transition: width 0.3s ease;
  position: relative;

  &.collapsed {
    width: 80px;
    a {
      h4 {
        display: none;
      }
    }
  }

  .toggle-button {
    display: block;
    margin: 10px;
    height: 42px;
    width: 42px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #f8f5ee;
    position: absolute;
    border: none;
    bottom: 10px;
    right: -30px;
  }

  a {
    text-decoration: none;
    color: #0b26b5;
    position: relative;

    .tooltip {
      visibility: hidden;
      background-color: #101828;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 6px;
      position: absolute;
      z-index: 1;
      left: 115%;
      white-space: nowrap;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #101828 transparent transparent;
      }
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .sidebar-section {
    margin-bottom: 20px;

    &.current {
      ul {
        display: flex;
      }
      .sidebar-item {
        background-color: #0b26b5;
        h4,
        svg {
          color: #f8f5ee;
        }

        &:hover {
          background-color: #0b26b5;
        }
      }
    }

    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 6px;
      border-radius: 6px;

      h4 {
        color: #000490;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        transition: opacity 0.3s ease;
      }

      svg {
        margin-right: 10px;
        color: #5c6bba;
      }

      &:hover {
        background-color: #0b26b513;
      }
    }

    ul {
      padding-top: 8px;
      list-style: none;
      padding-left: 37px;
      display: none;
      flex-direction: column;
      gap: 14px;

      li {
        font-size: 14px;
        color: #000490;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: #007bff;
          padding-left: 10px;
        }
      }
    }
  }

  &.collapsed {
    .sidebar-section {
      .sidebar-item {
        justify-content: center;

        h4 {
          opacity: 0;
        }

        svg {
          margin-right: 0;
        }
      }

      ul {
        display: none;
      }
    }
  }
}
